---
export const prerender = true;

import Layout from "layouts/Layout.astro";
---

<Layout
	title="Home | Ray Arayilakath"
	description="Software Engineer based in the United States. I have 5+ years of experience with companies like Replit and Deel."
>
	<p>WIP</p>
</Layout>