---
import Layout from "layouts/Layout.astro";

export const prerender = true;
---

<Layout
  title="Home | Ray Arayilakath"
  description="Software Engineer based in the United States. I have 5+ years of experience with companies like Replit and Deel."
>
  <p>WIP</p>
</Layout>
