---
import { Image } from "astro:assets";

import headshot from "assets/headshot.webp";
import Layout from "layouts/HomeLayout.astro";

export const prerender = true;
---

<Layout
  title="Home | Ray Arayilakath"
  description="Software Engineer based in the United States. I have 5+ years of experience with companies like Replit and Deel."
>
  <div class="flex flex-row items-start justify-center gap-7">
    <Image
      src={headshot}
      alt="Ray Arayilakath"
      class="rounded-full w-28 h-28"
    />
    <div class="flex flex-col items-start justify-start">
      <h1 class="font-serif font-bold text-5xl leading-normal">
        ray arayilakath
      </h1>
      <p class="text-lg leading-normal text-zinc-400">
        software engineer | prev. replit
      </p>
    </div>
  </div>
  <div class="flex flex-col items-start justify-start mt-5">
    <h1 class="font-serif font-bold text-3xl leading-normal">about me</h1>

    <div class="flex flex-col items-start justify-start gap-5">
      <p class="text-lg leading-normal">
        howdy! my name’s ray, i am a software engineer residing in dallas, tx.
        i’m majoring in cybersecurity at purdue university, building an edtech
        startup, and hacking on some electronics!
      </p>

      <p class="text-lg leading-normal">
        currently i am part of buildspace’s s5 nights & weekends cohort,
        building something fresh. stay tuned!
      </p>

      <p class="text-lg leading-normal">
        in the past i have interned at replit for over a year, where i helped
        launch early anti-abuse initiatives and was a founding member of their
        anti-abuse team. i also helped teach ib computer science at westlake
        academy. see more of my work in{" "}
        <a
          href="/work"
          class="underline decoration-zinc-400 hover:decoration-foreground"
          >my resume</a
        >.
      </p>

      <p class="text-lg leading-normal">
        for more information on my background and interests, feel free to read{
          " "
        }
        <a
          href="/blog"
          class="underline decoration-zinc-400 hover:decoration-foreground"
          >my blog</a
        >{" "}
        or see{" "}
        <a
          href="https://github.com/rayhanadev"
          class="underline decoration-zinc-400 hover:decoration-foreground"
          >my projects</a
        >{" "}
        and follow me on my socials.
      </p>
    </div>
  </div>
</Layout>
