---
import Link from "./Link.astro";

const links = [
  { text: "x", href: "https://x.com/rayhanadev" },
  { text: "github", href: "https://github.com/rayhanadev" },
  { text: "linkedin", href: "https://linkedin.com/in/rayhanadev" },
  { text: "me@rayhanadev.com", href: "mailto:me@rayhanadev.com" },
];

const {} = Astro.props;

export interface Props {}
---

<div
  class="flex flex-col items-start justify-start gap-5 w-[350px] md:w-[500px] mx-auto mt-auto mb-8"
>
  <hr class="border-border w-full" />
  <ul class="flex flex-row items-start justify-start gap-3.5 w-full ml-auto">
    {
      links.map(({ text, href }) => (
        <li>
          <Link href={href}>{text}</Link>
        </li>
      ))
    }
  </ul>
</div>
