---
const links = [
  { href: "/", text: "home" },
  { href: "/blog", text: "blog" },
  { href: "/work", text: "work" },
];

const {} = Astro.props;

export interface Props {}
---

<nav
  class="flex flex-row items-end justify-start w-[350px] md:w-[500px] mx-auto"
>
  <ul class="flex flex-row items-start justify-start gap-3.5 ml-auto">
    {
      links.map(({ text, href }) => {
        const active = Astro.url.pathname === href;
        return (
          <li>
            <a
              class:list={[
                "font-sans",
                "text-base",
                "leading-normal",
                "hover:text-foreground",
                !active && "text-zinc-400",
                active && "text-foreground",
                active && "underline",
                active && "decoration-zinc-400",
                active && "hover:decoration-foreground",
              ]}
              href={href}
            >
              {text}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
